body {
    background-color: black;
    color: darkgoldenrod; /* Основной цвет текста */
    font-family: 'Comic Sans MS', sans-serif; /* Шрифт по умолчанию */
    text-align: center; /* Центрирование контента */
}

h1 {
    color: gold;
    font-family: Monocraft, monospace; /* Заголовок */
    margin: 20px auto; /* Центрирование заголовка */
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для текста */
}

h2 {
    color: goldenrod;
    font-family: 'Marck Script'; /* Подзаголовок */
    margin: 0 30% 0 40%;
    font-size: 28px;
}

p {
    color: darkgoldenrod;
    font-family: 'Comic Sans MS'; /* Обычный текст */
    margin: 0 30% 0 30%;
    font-size: 20px;
}

summary {
    color: goldenrod;
    font-family: 'Marck Script'; /* Сводка */
    margin: 0 30% 0 35%;
    font-size: 28px;
}

.b {
    font-style: italic; /* Курсивный текст */
}

img {
    margin: 0 auto; /* Центрирование изображения */
    border-radius: 50px 20px 50px 20px; /* Скругление углов изображения */
}

/* Стили для ссылок в стиле "Bendy" */
a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'YourCartoonFont', sans-serif; /* Замените на подходящий шрифт */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Тень для имитации чернил */
    transition: all 0.3s ease;
}

a:hover {
    transform: rotate(-3deg);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Стили для виселицы */
.hangman-container {
    display: flex;
    justify-content: center; /* Центрирование виселицы */
}

.hangman {
    width: 200px; /* Ширина виселицы */
}

.hangman img {
    width: auto; /* Автоматическая ширина изображения виселицы */
}

/* Стили для отображения слова и жизней */
#word-display {
    font-size: 36px; 
    margin: 20px auto; 
}

#lives {
    font-size: 24px; 
}

/* Стили для кнопок угадывания букв */
#guesses button {
    padding: 8px 12px; 
    margin: 5px; 
    font-size: 18px; 
    border-radius: 5px; 
}

#guesses button:hover {
   background-color: #ddd; 
}

/* Стили для сообщений об окончании игры */
#message {
   font-size: 24px; 
   margin-top:20px; 
   color:red; 
}

/* Кнопки перезапуска и подсказок */
button {
   display:block; 
   margin:auto; 
   padding:10px; 
   border-radius:5px; 
   background-color:#fff; 
   color:black; 
   cursor:pointer; 
   transition:.3s ease;
}

button:hover {
   background-color:#ddd;
}
